.lista-categorias{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.lista-categorias__lista{
    display: flex;
}

.lista-categorias__item{
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    padding: .5rem;
    margin-left: .6rem;
    transition: .5s ease-in-out .1s;
}

.lista-categorias__item:hover{
    transform: scale(110%);
}
.lista-categorias__input{
    padding: .5rem 1rem;
    position: absolute;
    right: 5%;
}