.lista-categorias{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.lista-categorias__lista{
    display: flex;
}

.lista-categorias__item{
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    padding: .5rem;
    margin-left: .6rem;
}
.lista-categorias__input{
    padding: .5rem 1rem;
    margin-left: 10rem;
}