.form-cadastro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0 5rem;
}

.form-cadastro__input{
    margin: .8rem 0;
    padding: 1rem 0;
    font-size: 1rem;
}

.form-cadastro__input:first-child{
    font-size: 300%;
}

.form-cadastro__submit{
    background-color: seagreen;
    border-radius: 10px;
    color: seashell;
    margin-top: -.8rem;
}